:root {
    --color-one: #3D5215;
    --color-two: #5B0C47;
}

body {
    background-color: #D7F3EC;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header {
    text-align: center;
}

.avatar{
    height: 250px;
    width: 300px;
}

.header_title {
    color: var(--color-one);
    font-size: 30px;
}

.header_subtitle {
    color: var(--color-two);
    font-size: 25px;
}

.skills {
    color: var(--color-one);
    font-size: 18px;
}

.skills ol {
    list-style: none;
    padding-left: 0.5em;
}

main {
    border: 2px solid #3D5215;
    text-align: center;
}

.article {
    color: var(--color-two);
    font-size: 17px;
}

.separator {
    width: 50%;
    height: 3px;
    background-color:var(--color-two);
}

.separator-two {
    width: 80%;
    height: 3px;
    background-color:var(--color-two);
}

.gallery {
    color: var(--color-one);
}

.hobbies {
    color: var(--color-one);
}

.hobbies ol {
    list-style: none;
    padding-left: 0.5em;
}

.ed__table {
    border-collapse: collapse;
    width: 85%;
    margin: 0 auto
}

.ed__table th,
.ed__table td {
    border: 2px solid #3D5215;
    padding: 7px;
    color: var(--color-one);
}

.infinity-symbol {
    font-size: 28px;
}

.quote {
    font-size: 28px;
    color: var(--color-two);
}

footer {
    padding: 5px 0;
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 15px;
    padding: 5px 0;
}

.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon-svg {
    width: 60px;
    height: 60px;
}


.title {
    color: var(--color-one);
}
